body{
    background-color: rgb(255, 255, 255);
    
}
img{
    width: 350px;
    height: auto;
    margin: 90px;
    border-radius: 50px;
}
.container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
   
    
}
.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: all ease 0.3s;


}
.container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;;
    transition: all ease 0.3s;
  
} 
html, body{
    height: 100%;
    margin: 0px;
    transition: transform 200ms ease-in-out;
    --bg: radial-gradient(#000000 5%, #0000 6%);
    --size: 3rem;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000000 5%, #0000 6%),
      radial-gradient(#000000 5%, #0000 6%);
    background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2);
    background-size: var(--size) var(--size);
}
.container-0{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background: transparent;
    
}

#hl{
    transition: transform 300ms;
    

}
#hl:hover {
    transform: translateY(-10px);
    transform: scale(0.9)
    
}

#gt{
    transition: transform 300ms;

}
#gt:hover {
    transform: translateY(-10px);
    transform: scale(0.9)
}

#cm{
    transition: transform 300ms;

}
#cm:hover {
    transform: translateY(-10px);
    transform: scale(0.9)
}
.card .container-1:hover  {
    width: auto;
    height: auto;
    border-radius: 50px;
    background-color: #BB7A0B;
    box-shadow: 5px 5px 20px 1px #BB7A0B;
    border: -1px solid rgba(255, 255, 255, 0.454);
    transition: all ease 0.3s;
}
