body{
    background-color: rgb(255, 255, 255);
    
}
img{
    width: 350px;
    height: auto;
    margin: 90px;
    border-radius: 50px;
}
#container1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: all ease 0.3s;
    
}
#container2{
    width: 350px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: all ease 0.3s;


}
#container3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;;
    transition: all ease 0.3s;
} 
html, body{
    height: 100%;
    margin: 0px;
    transition: transform 200ms ease-in-out;
}
.container-0{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background: transparent;
    
}

#hl{
    transition: transform 300ms;
    

}
#hl:hover {
    transform: translateY(-10px);
    transform: scale(0.9)
    
}

#gt{
    transition: transform 300ms;

}
#gt:hover {
    transform: translateY(-10px);
    transform: scale(0.9)
}

#cm{
    transition: transform 300ms;

}
#cm:hover {
    transform: translateY(-10px);
    transform: scale(0.9)
}
.card #container1:hover  {
    width: auto;
    height: auto;
    border-radius: 50px;
    background-color: #BB7A0B;
    box-shadow: 5px 5px 20px 1px #BB7A0B;
    transition: all ease 0.3s;
}
.card #container2:hover  {
    width: 350px;
    height: 700px;
    border-radius: 50px;
    background-color: #ED1B88;
    box-shadow: 5px 5px 20px 1px #ED1B88;
    transition: all ease 0.3s;
    
}
.card #container3:hover  {
    width: auto;
    height: auto;
    border-radius: 50px;
    background-color: #01135D;
    box-shadow: 5px 5px 20px 1px #01135D;
}