
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    --gap: 5em;
    --line: 1px;
    --color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
    -90deg,
    transparent calc(var(--gap) - var(--line)),
    var(--color) calc(var(--gap) - var(--line) + 1px),
    var(--color) var(--gap)),
    linear-gradient(
    0deg,
    transparent calc(var(--gap) - var(--line)),
    var(--color) calc(var(--gap) - var(--line) + 1px),
    var(--color) var(--gap));
    background-size: var(--gap) var(--gap);
}


.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 300px;
    height: 280px;
    top: 13%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 15s linear infinite;
    z-index: 2;
    animation-play-state: running;
    transition: transform 1000ms; 
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider:hover {
    animation-play-state: paused;
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content .ball{
    display: block;
    width: 300px;
    height: 300px;
    margin: 30px auto 0;
    margin-bottom: 200px;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    border-radius: 50%;
    background: linear-gradient(320deg, #ed1b88, #01135d, #ffffff, #bb7a0b, #000000);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 18s ease infinite;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
img{
    transition: transform 500ms ease-in-out;
    border-radius: 2rem;
}
img:hover{
    transform: scale(1.5);
}
.img1{
    background-color: #bb7a0b;
    width: 300px;
    height: 280px;
    box-shadow: 0 0 15px #bb7a0b;
}
.img3{
    background-color: #01135d;
    width: 300px;
    height: 280px;
    box-shadow: 0 0 15px #01135d;
}
.img2{
    background-color: #ed1b88;
    width: 300px;
    height: 280px;
    box-shadow: 0 0 15px #ed1b88;
}